.book-details {
  display: flex;
  flex-direction: column;
}

.book-details__inactive {
  display: none;
}

.book-details__wrap {
  margin-top: 5px;
  padding: 5px;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 4px;
}

.book-details__wrap-btn {
  margin-top: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.book-details__btn {
  margin-top: 3px;
  margin-left: 3px;
  align-self: flex-end;
}

.book-details__input {
  margin: 3px;
  width: auto;
}

.book-details__name {
  margin: 3px;
  flex-grow: 1;
}

.book-details__textarea {
  margin: 3px;
  width: 100%;
}

.book-details__errortext {
  color: red;
}
