.book-add-form {
  flex-direction: column;
}

.book-add-form__inactive {
  display: none;
}

.book-add-form__wrap {
  margin-top: 5px;
  padding: 5px;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 4px;
}

.book-add-form__btn {
  margin-top: 3px;
  align-self: flex-end;
}

.book-add-form__input {
  margin: 3px;
  width: auto;
}

.book-add-form__name {
  margin: 3px;
  flex-grow: 1;
}
